
/**
Catlink CSS
**/

card {
    margin: 15px;
}
head-div {
    background-image: linear-gradient(#4e6891, #5151af);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
white {
    color: #ffffff;
}
/*Used on all header divs end*/

customrc {
    border-radius: 14px;
}
customrc-left-top {
    border-radius: 14px;
}
customrc-left-bottom {
    border-bottom-left-radius: 14px;
}
customrc-left-all {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
customrc-right-top {
    border-top-right-radius: 14px;
}
customrc-right-bottom {
    border-bottom-right-radius: 14px;
}
customrc-right-all {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
alert {
    margin: 15px;
}
